@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/* Global styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(135deg, #f0f8ff, #cce7ff);
}
